.header {
    width: 117rem;
    padding: 0 3rem;
    margin: 0 auto;
    background: url(/images/bg-header-2.jpg) no-repeat center center;
    background-size: cover;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 4.9rem;
    padding-bottom: 4.9rem;
}

.header__inner {
    display: flex;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__description{
    margin-left: 3.2rem;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
    color: #FFFFFF;}