.diploma__container {
    width: 87rem;
    padding: 4rem 0;
    padding-right: 3rem;
}
.diploma__title {
    font-family: 'Lora';
font-style: normal;
font-weight: 500;
font-size: 2.4rem;
line-height: 3.1rem;
text-align: center;
text-transform: uppercase;
color: #1F2839;
margin-bottom: 4rem;
}
.diploma__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.diploma__item {
    background: green;
    padding: 3rem;
}